.section-title{
  width: 100%;
  text-align: center;
  color: #499b45;
  font-size: 30px;
  margin-top: 10px;
}
.content-text{
  padding: 20px;
  color: #000;
  font-size: 16px;
}
.question-div{
  background-color: #499b45;
  font-size: 18px;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
}
.reponse-div{
  border: solid 1px #499b45;
  font-size: 16px;
  width: 100%;
  margin-top: 10px;
  padding: 20px;
  white-space:pre-wrap;
}
.margin-top{
  margin-top: 5px;
}
.exemple-div{
  background-color: black;
  color: #ffffff;
  padding:10px;
  white-space:pre-wrap;
}
.subtitle-div{
  color: #499b45;
  font-size: 18px;
  text-decoration: underline;
  margin-top: 10px;
}
.alert-div{
  color: red;
}
.title-bigger-div{
  font-size: 18px;
}
.example-image-div{

}
