<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened [fixedInViewport]="true" [fixedTopGap]="0" [fixedBottomGap]="0">
    <app-sidebar (eventEmitter)="onChangeSection($event)"></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-container *ngIf="route=='tutorial1'">
      <div class="section-title">Definition et Installation</div>
      <div class="content-text">
        Lorsque, comme beaucoup, on vient du monde des bases de données relationnelles et de la syntaxe SQL,
        l’apprentissage et
        l’usage du noSQL est au début un peu déroutant.MongoDB est une base de données NoSQL relativement simple à
        prendre en main
        et très riche fonctionnellement. Elle est orienté documents. Son nom vient de Humongous qui veut dire énorme ou
        immense. L'objectif
        est donc de pouvoir gérer de grandes quantités de données. Comment ? Le moteur de base de données facilite
        l'extension (on parle
        de scaling) si bien que l'on pourra supporter l'accroissement de la quantité de données par l'ajout de machines.
        A partir de
        MongoDB, on peut construire des applications web destinées à une large audience.
        <div class="question-div">
          Orienté documents, qu'est ce que cela signifie?
        </div>
        <div class="reponse-div">
          <div>
            Dans un système de base de données relationnelles, les informations sont stockées par ligne dans des tables.
            Ces tables
            sont mises en relation en utilisants des clés primaires et étrangères. Par exemple, prenons une base de
            données qui contient
            des Acteurs et des Films et la table de jointure Acteur_Film qui permet d'associer les acteurs qui ont joué
            un rôle dans un film.
          </div>
          <div class="margin-top">
            L'information est rangée dans des tables et si l'on souhaite récupérer le casting d'un film, il faut faire
            une requête SQL
            avec des jointures pour récupérer les bonnes lignes des tables.
          </div>
          <div class="margin-top">
            Dans MongoDb, l'information est modélisée sur un document au format JSON (Javascript Object Notation) (plus
            exactement BSON, une version binaire du JSON).
            Ce format est detaillé dans la section 2 de ce tutoriel. Par exemple:
          </div>
          <div class="exemple-div margin-top">
            <div>{{exemple1}}</div>
            <div>{{exemple2}}</div>
          </div>
          <div class="margin-top">
            Ici pas de jointure pour récupérer le casting d'un film, il suffit de lire le document qui nous intéresse.
          </div>
          <div class="margin-top">
            Ceux qui viennent du monde des bases de données relationnelles sont peut être choqués de voir que les
            acteurs sont dupliqués.
            Dans le monde NoSQL, on n'hésite pas à dénormaliser le schéma de la base de données pour favoriser les
            performances à la
            lecture. L'important est de savoir quelles requêtes seront faites pour décider du format des documents.
          </div>
        </div>
        <div class="subtitle-div">Installation</div>
        <div>
          Le site Web MongoDB comprend des instructions d’installation pour Windows, Mac et Linux. Les voici:
        </div>
        <div class="margin-top">
          <a href="https://docs.mongodb.com/manual/tutorial/install-mongodb-on-windows/">Installation sur Windows</a>
        </div>
        <div class="margin-top">
          <a href="https://docs.mongodb.com/manual/tutorial/install-mongodb-on-os-x/">Installation sur Mac</a>
        </div>
        <div class="margin-top">
          <a href="https://docs.mongodb.com/manual/administration/install-on-linux/">Installation sur Linux</a>
        </div>
        <div class="subtitle-div">Créer le répertoire de données</div>
        <div class="margin-top">
          Cette information est incluse dans les liens d'installation ci-dessus.
        </div>
        <div class="margin-top">
          MongoDB stocke ses données dans un répertoire de données. Vous devez créer ce répertoire de données.
        </div>
        <div class="margin-top">
          Pour le créer à l'emplacement par défaut, créez un répertoire dans / data / db (ou \ data \ db sous Windows).
        </div>
        <div class="margin-top">
          Par défaut, le processus mongod (le processus daemon principal du système MongoDB) recherche le répertoire de
          données à ces
          emplacements. Cependant, MongoDB vous offre la possibilité d’utiliser un autre emplacement. Si vous spécifiez
          un autre
          emplacement, vous devrez le définir comme paramètre au démarrage de MongoDB.
        </div>
        <div class="subtitle-div">Vérifier les autorisations</div>
        <div class="margin-top">
          Une fois que vous avez créé le répertoire de données, vérifiez que le compte utilisateur qui exécute mongod
          dispose des
          autorisations de lecture et d’écriture correspondantes.
        </div>
        <div class="subtitle-div">Demarrer MongoDB</div>
        <div class="margin-top">
          Pour démarrer MongoDB, utilisez mongod (Linux / Mac) ou mongod.exe (Windows).
        </div>
        <div class="margin-top">
          Cela suppose que le chemin a été ajouté à votre PATH. Si ce n'est pas le cas, vous devrez fournir le chemin
          complet du
          binaire Mongod.
        </div>
        <div class="margin-top">
          Une fois que le processus mongod a démarré, vous devriez voir que le processus se lance sur le port 27017 qui
          est le port
          par défaut utilisé par MongoDb. Un message d’attente de connexions dans la sortie de la
          console indiquant que le processus mongod a été exécuté avec succès (waiting for connections on port 27017).
        </div>
        <div class="margin-top alert-div">
          Laissez cette fenêtre Terminal / Command ouverte en background. Si vous devez utiliser Terminal / Command pour
          toute autre tâche (telle que l'exécution du shell MongoDB), ouvrez une nouvelle fenêtre.
        </div>
        <div class="subtitle-div">Acceder à MongoDB</div>
        <div class="margin-top title-bigger-div">
          Vous pouvez accéder à MongoDB via le shell MongoDB ou à partir de votre environnement de programmation à
          l'aide d'un
          pilote MongoDB.
        </div>
        <div class="margin-top">
          Une fois que vous avez démarré une instance MongoDB (à l’aide de la commande mongod), vous pouvez maintenant
          vous connecter
          à cette instance et commencer à utiliser MongoDB.
        </div>
        <div class="margin-top">
          Vous pouvez utiliser le terminal ou l'invite de commande de votre ordinateur pour vous connecter et exécuter
          des commandes
          directement à partir du shell MongoDB.
        </div>
        <div class="margin-top">
          Vous pouvez également vous connecter à une instance MongoDB en cours d'exécution via votre environnement de
          programmation
          à l'aide d'un pilote MongoDB.
        </div>
        <div class="subtitle-div">MongoDB Shell (mongo) et Connection à MongoDB</div>
        <div class="margin-top alert-div">
          Tout au long de ce tutoriel, nous utiliserons le shell MongoDB (appelé mongo) pour se connecter à notre
          instance
          en cours d'exécution MongoDB.
        </div>
        <div class="margin-top">
          Avant de pouvoir exécuter la moindre commande, il faut que la base de données soit lancée, cela se passe avec
          mongod
          (le d de dæmon) et se connecter au shell mongoDB, cela se passe avec mongo (le client).
        </div>
        <div class="margin-top">
          Le shell mongo est une interface JavaScript interactive pour MongoDB et il est inclus dans le package MongoDB.
          Vous
          pouvez utiliser le shell mongo pour interroger et mettre à jour des données, ainsi que pour exécuter des
          fonctions
          administratives.
        </div>
        <div class="margin-top">
          Le shell MongoDB est situé au même endroit que les autres fichiers binaires. Pour l’exécuter, ouvrez une
          nouvelle fenêtre
          de commandes / Terminal et entrez mongo (Linux / Mac) ou mongo.exe (Windows).Rien de bien complexe,
          comme avec MySQL, on demande à mongo de se connecter à la base.
        </div>
        <div class="margin-top alert-div">
          Cela en supposant que le chemin a été ajouté à votre PATH. Si ce n'est pas le cas, vous devrez fournir le
          chemin complet.
        </div>
        <div class="margin-top alert-div">
          Laissez cette fenêtre Terminal / Command ouverte en background. Si vous devez utiliser Terminal / Command pour
          toute autre tâche ouvrez une nouvelle fenêtre.
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="route=='tutorial2'">
      <div class="section-title">Format JSON</div>
      <div class="content-text">
        Le JSON est devenu en quelques années un format très populaire sur Internet. Il permet de stocker les données
        avec les métadonnées
        associées (les noms de colonnes). Un peu comme le XML mais dans un format plus compacte. Il est aujourd’hui
        utilisé dans nombre de
        technologies web dérivées du Javascript (NodeJS, AngularJS, etc.).
        Un document BSON étant similaire à un document JSON, vous en avez très certainement déjà vu… Il s’agit de ceci.
        <div class="exemple-div margin-top">
          {{exemple3}}
        </div>
        <div class="margin-top">
          Comme vous pouvez les constater, on a donc des clefs et des valeurs et, tout comme en JSON (car c’est du
          JSON), une valeur peut être un
          objet, un tableau, un tableau d’objets etc, ce sont des sous documents. Un document similaire à un object
          JavaScript, peut en contenur
          d’autres.
        </div>
        <div class="margin-top">
          Par ailleurs, les documents ne sont pas rigides. Ainsi, un document peut contenir un champ tandis que le
          suivant ne contient pas ce
          dernier. Par exemple, dans le cas des utilisateurs d’un site, on pourrait connaître l’adresse de certains
          tandis qu’on l’ignore pour
          d’autres. Dans ce cas, contrairement au SQL où le champ cerait vide, ici on peut tout simplement l’ommetre (ce
          qui n’empêchera pas de
          l’ajouter par la suite).
        </div>
        <div class="question-div">
          Quelle est alors "Une collection" dans MongoDB?
        </div>
        <div class="reponse-div">
          <div>
            Rien de sorcier et, vous l’aurez peut être déjà deviné, une collection est groupe de documents, similaire à
            une table dans le monde
            du SQL. Vous aurez ainsi une collection regroupant les utilisateurs, une autre regroupant les articles etc.
          </div>
          <div class="exemple-div margin-top">
            {{exemple4}}
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="route=='tutorial3'">
      <div class="section-title">Commandes Essentielles</div>
      <div class="content-text">
        <div class="subtitle-div">Afficher toutes les base de données</div>
        <div class="reponse-div">show dbs</div>
        <div class="example-image-div margin-top"><img src="assets/images/mongo-images/showDB.PNG"></div>

        <div class="subtitle-div">Utiliser la base "newbase"</div>
        <div class="reponse-div">use newbase</div>
        <div class="example-image-div margin-top"><img src="assets/images/mongo-images/useDB.PNG"></div>

        <div class="subtitle-div">Voir dans quelle base on est</div>
        <div class="reponse-div">db</div>

        <div class="subtitle-div">Afficher les collections de la base</div>
        <div class="reponse-div">show collections</div>
        <div class="example-image-div margin-top"><img src="assets/images/mongo-images/showcollections.png"></div>

        <div class="subtitle-div">Créer une collection</div>
        <div class="reponse-div">db.createCollection("Nom Collection");</div>

        <div class="subtitle-div">Renommer une collection</div>
        <div class="reponse-div">db.(nom collection).renameCollection("nouveau nom")</div>
        <div class="example-image-div margin-top"><img src="assets/images/mongo-images/renameColl.png"></div>

        <div class="subtitle-div">Effacer une collection</div>
        <div class="reponse-div">db.(nom collection).drop()</div>

        <div class="subtitle-div">Effacer la base dans laquelle on est</div>
        <div class="reponse-div">db.dropDatabase()</div>

        <div class="subtitle-div">Insertion dans la collection</div>
        <div class="reponse-div">
          <div>{{insert}}</div>
          <div>{{insertMany}}</div>
        </div>

        <div class="subtitle-div">Obtenir le nombre de records dans une collection</div>
        <div class="reponse-div">db.(nom collection).count()</div>

        <div class="subtitle-div">Selection de la collection</div>
        <div class="reponse-div">
          <div>{{selection1}}</div>
          <div>db.contacts.find().pretty()</div>
          <div>{{selection}}.pretty()</div>
          <div class="alert-div">On Utilise .pretty() avec la command find() pour ajuster la form JSOn des documents
            pour pouvoir les lires
          </div>
        </div>

        <div class="subtitle-div">Effacer tous les documents d'une collection</div>
        <div class="reponse-div">{{removeAll}}</div>

        <div class="subtitle-div">Effacer un document d'une collection</div>
        <div class="reponse-div">{{effacerUn}}</div>
        <div class="example-image-div margin-top"><img src="assets/images/mongo-images/removeOne.png"></div>

        <div class="subtitle-div">Mettre à jour une collection</div>
        <div class="reponse-div">
          <div>{{mettreAJou4}}</div>
          <div>{{mettreAJour}}</div>
          <div>{{mettreAJour2}} Pour remplacer le record avec un autre representant par l'obj JSON</div>
          <div>{{mettreAJou3}} Pour mettre a jour tous les records ayant cette condition</div>
        </div>
        <div class="alert-div">$set est utilisé pour modifier certain attributs d'un record de la collection. C'est une
          des aggregation dans MongoDb
        </div>
        <div class="alert-div">upsert:true est l'une des options de la commande update pour indiquer que si ce record
          n'existe pas je voudrais le créer
        </div>
        <div class="alert-div">new:true est l'une des options de la commande update pour indiquer que je veux retourner
          le nouveau document
        </div>

        <div class="subtitle-div">Statistiques d'une collection</div>
        <div class="reponse-div">
          <div>db.(nom collection).stats()</div>
          <div>db.(nom collection).latencyStats()</div>
          <div>db.(nom collection).dataSize()</div>
          <div>db.(nom collection).storageSize()</div>
          <div>db.(nom collection).totalSize()</div>
          <div>db.(nom collection).totalIndexSize ()</div>
        </div>
        <div class="example-image-div margin-top"><img style="width: 100%" src="assets/images/mongo-images/stats.png">
        </div>

        <div class="subtitle-div">Import/Export d'une base de donnée</div>
        <div class="alert-div">Ces Commandes s'utilisent sans la commande "mongo".
          Pour les executer il faut ouvrir une nouvelle fenetre de commande
        </div>
        <div class="reponse-div">
          <div>mongodump --host localhost --port 27017 --db (Nom de base de données) --out (Nom du fichier pour exporter
            les données)
          </div>
          <div>mongorestore --host localhost -d (Nom de base de données) (le path du fichier contenant les données
            exportés)
          </div>
        </div>
        <div class="margin-top title-bigger-div">
          Il est assez lourd de devoir taper à chaque fois db.(nom collection).commande, la console Mongo est aussi un
          shell JavaScript, il est donc tout
          à fait possible d’enregistrer des choses dans des variables !
        </div>
        <div class="reponse-div">
          <div>t = db.(nom collection)</div>
          <div>t.find().pretty()</div>
        </div>

        <div class="subtitle-div">Import/Export d'une collection</div>
        <div class="alert-div">Ces Commandes s'utilisent sans la commande "mongo".
          Pour les executer il faut ouvrir une nouvelle fenetre de commande
        </div>
        <div class="reponse-div">
          <div>mongoimport --db (Nom de base de donnée) --collection (nom de la collection --file (path du fichier
            JSON).json
          </div>
          <div>mongoexport --db (Nom de base de donnée) --c (nom de la collection) --out (npm du ficher).json</div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="route=='tutorial4'">
      <div class="section-title">Recherches Avancées</div>
      <div class="content-text">
        <div class="subtitle-div">Les Dates</div>
        <div class="margin-top">
          Lorsque l’on veut requêter une date dans Mongo, il faut créer un objet de type Date. Cela se fait soit
          directement via le constructeur
          Date de JavaScript, soit via le wrapper Mongo ISODate.
        </div>
        <div class="margin-top">
          La fonction Date() appelée sans new retourne simplement la date courante en tant que chaine de caractères. Les
          autres formes,
          c’est à dire new Date(xxx), new ISODate(xxx) et ISODate(xxx) sont équivalentes et font toutes appel au wrapper
          ISODate. Il ne s’agit
          donc que d’une question de préférence personnelle.
        </div>
        <div class="margin-top">
          Maintenant que nous avons levé l’ambiguïté qu’il peut y avoir entre ces différentes méthodes, utilisons-les.
          Pour l’exemple, nous
          allons récupérer les utilisateurs créés depuis le 15 septembre 2015.
        </div>
        <div class="margin-top exemple-div">
          {{exempleDate}}
        </div>
        <div class="margin-top">
          Évidemment, qui dit date dit aussi heure. Franchissons le cap de la précision, les utilisateurs qui se sont
          enregistrés après le
          15 septembre 2015 à 13h20.
        </div>
        <div class="margin-top exemple-div">
          {{exempleDate2}}
        </div>
        <div class="margin-top">
          Vous vous apercevez certainement que la précision va jusqu’à la milliseconde… En effet, le moteur de Mongo
          stocke et traite les dates
          en nombre de millisecondes depuis l’époque Unix (sous la forme d’un entier de 64 bits, si ça vous intéresse).
          Nous héritons donc de
          la précision de ce format.
        </div>
        <div class="margin-top">
          Vous notez peut-être également que deux lettres viennent s’ajouter à notre équation. Le T vient simplement
          faire office de séparateur
          et indique Time, tandis que le Z signifie que nous traitons du temps en Zulu Time [en], autrement dit, l’heure
          UTC.
        </div>
        <div class="margin-top">
          La présence ou l’absence du Z est importante. Mongo stocke dans tous les cas la date au format UTC. Cependant,
          si vous omettez le
          Z, Mongo considère qu’il s’agit du fuseau horaire courant, donc UTC+1 si vous êtes sur le fuseau horaire de
          Paris, ou plus
          généralement CET (Central European Time), autrement dit l’heure d’Europe Centrale.
        </div>
        <div class="margin-top">
          Vous le comprenez, en l’absence du Z, Mongo fera l’opération pour ajouter ou retrancher des heures à UTC avant
          de la stocker,
          tandis que si vous le préciser, il stocke tel quel.
        </div>

        <div class="subtitle-div">Les Indexes</div>
        <div class="margin-top">
          Comme dans MySQL, les index permettent d’accélérer les requêtes en évitant au moteur de base de données de
          devoir scanner tous
          les documents de la collection afin de trouver ceux correspondant à la requête.
        </div>
        <div class="margin-top">
          Voici les commandes les plus courantes :
        </div>
        <div class="margin-top exemple-div">
          {{exempleIndex1}} Pour créer un index
        </div>
        <div class="margin-top exemple-div">
          {{exempleIndex2}} Pour créer un index et préciser que la valeur doit être unique
        </div>
        <div class="margin-top">
          L’index ci-dessus considérera une absence de valeur comme une valeur. Il n’y a donc qu’un email qui pourra
          être vide ensuite
          mongo considérera les autres email sans valeur comme dupliqués et refusera de les ajouter. Pour empêcher ce
          comportement, on peut
          utiliser l’option sparse.
        </div>
        <div class="exemple-div margin-top">
          {{exempleIndex3}}
        </div>
        <div class="margin-top">
          Voici quelques exemples d'index:
        </div>
        <div class="margin-top exemple-div">
          {{exempleIndex4}} Pour afficher les index d'une collection
        </div>
        <div class="margin-top exemple-div">
          {{exempleIndex5}} Pour supprimer un index (le nom de l'index est fourni par getIndexes)
        </div>
        <div class="margin-top exemple-div">
          {{exempleIndex6}} Pour supprimer tous les indexes d'une collection
        </div>
        <div class="margin-top exemple-div">
          {{exempleIndex7}} Pour supprimer tous les indexes de la base
        </div>
        <div class="subtitle-div">Les Projections</div>
        <div class="margin-top">
          La projection permet de sélectionner les informations à renvoyer. Si, par exemple, je m’intéresse uniquement
          au titre du film, à son
          année de sortie et aux noms des acteurs, je vais limiter les informations retournées en précisant les champs
          souhaités dans un document
          JSON (toujours ce fameux JSON). Et, également passer ce document comme deuxième argument de ma recherche find.
        </div>
        <div class="example-image-div margin-top"><img src="assets/images/mongo-images/projection1.PNG"></div>
        <div class="margin-top">
          Pour conserver un champ, il suffit de le préciser dans ce document et de lui affecter la valeur 1.
          Les plus attentifs d’entre vous auront noté que la requête a renvoyé également le champ _id. C’est le
          fonctionnement normal de la commande find qui renvoie systématiquement la clé du document.
          Si l’on souhaite l’exclure, il faut le préciser dans la commande.
        </div>
        <div class="example-image-div margin-top"><img src="assets/images/mongo-images/projection2.PNG"></div>

        <div class="subtitle-div">Le Triage des Resultats</div>
        <div class="margin-top">
          Quand les recherches renvoient beaucoup de documents, il peut être utile de les trier.
          On dispose pour cela de la fonction sort qui va permettre de trier les résultats sur un champ par ordre
          croissant ou décroissant. On pourra aussi utiliser sort comme une option dans la requête find.
        </div>
        <div class="margin-top exemple-div">
          {{sortExemple1}} Pour trier les documents dans un ordre croissant selon l'attribut 1 de la collection. (-1
          Pour un ordre descendant)
        </div>
        <div class="margin-top exemple-div">
          {{sortExemple2}} sort dans les options de la commande find()
        </div>
        <div class="subtitle-div">La Limitation des Resultats</div>
        <div class="margin-top">
          Quand les recherches renvoient beaucoup de documents, il peut être utile de les limiter et surtout en cas de
          pagination des données.
          On dispose pour cela de la fonction limit qui va permettre de limiter les résultats.
          On pourra aussi utiliser limit comme une option dans la requête find.
        </div>
        <div class="margin-top exemple-div">
          {{limitExample1}} Pour limiter les documents retourneés à 5.
        </div>
        <div class="margin-top exemple-div">
          {{limitExample2}} limit dans les options de la commande find().
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="route=='tutorial5'">
      <div class="section-title">Critères de recherche</div>
      <div class="content-text">
        La méthode find prend pour premier paramètre un objet JSON qu'elle va prendre comme critère de recherche.
        <div class="margin-top">
          Si par exemple vous faites
        </div>
        <div class="margin-top exemple-div">
          {{criteresExemple}}
        </div>
        <div class="margin-top">
          Vous allez avoir tous les documents qui correspondent à dixmill = 99999. En SQL, cela revient à faire une
          requête avec une clause where.
        </div>
        <div class="margin-top title-bigger-div">
          On peut aller plus loin sur le critère de recherches en ajoutant des opérandes :
        </div>
        <div class="margin-top title-bigger-div">Opérandes de "Find"</div>
        <div class="margin-top title-bigger-div">Comparaison</div>
        <div class="subtitle-div">$gt : plus grand que</div>
        <div class="reponse-div">{{gt}}</div>

        <div class="subtitle-div">$lt : plus petit que</div>
        <div class="reponse-div">{{lt}}</div>

        <div class="subtitle-div">$gte : plus grand ou égal à</div>
        <div class="reponse-div">{{gte}}</div>

        <div class="subtitle-div">$lte: plus petit ou égal à</div>
        <div class="reponse-div">{{lte}}</div>

        <div class="subtitle-div">$eq: égal à</div>
        <div class="reponse-div">{{eg}}</div>

        <div class="subtitle-div">$ne: non égal à</div>
        <div class="reponse-div">{{neg}}</div>

        <div class="margin-top alert-div">
          Les 6 opérandes ci-dessus fonctionnent pour des nombres et des chaines de caractères. Pour les chaines de
          caractères, l'ordre appliqué est l'ordre alphabétique.
        </div>

        <div class="margin-top title-bigger-div">Logical</div>
        <div class="subtitle-div">$or : pour récupérer les documents qui correspondent à 2 critères différents</div>
        <div class="reponse-div">{{or}}</div>

        <div class="subtitle-div">$and : pour cumuler des critères</div>
        <div class="reponse-div">{{and}}</div>

        <div class="subtitle-div">$not : pour reverser la condition</div>
        <div class="reponse-div">{{not}}</div>

        <div class="subtitle-div">$nor : pour obtenir la condition logique NOR</div>
        <div class="reponse-div">{{nor}}</div>

        <div class="margin-top title-bigger-div">Element</div>

        <div class="subtitle-div">$exist : pour récuperer les documents qui ont le critère qui existe et non null</div>
        <div class="reponse-div">{{exists}}</div>

        <div class="subtitle-div">$type : pour récuperer les documents qui ont le critère correspondant à un type
          donné
        </div>
        <div class="reponse-div">{{type}}</div>

        <div class="title-bigger-div margin-top">
          Les Types disponibles dans Mongo DB sont:
        </div>
        <div class="example-image-div margin-top"><img src="assets/images/mongo-images/types1.PNG"></div>
        <div class="example-image-div margin-top"><img src="assets/images/mongo-images/types2.PNG"></div>

        <div class="margin-top title-bigger-div">Evaluation</div>
        <div class="subtitle-div">$regex : pour récuperer les documents qui ont le critère correspondant à l'expression
          régulière donnée
        </div>
        <div class="reponse-div">{{regex}}</div>

        <div class="margin-top title-bigger-div">Array</div>

        <div class="subtitle-div">$in : pour récuperer les documents parmi le tableau des valeurs</div>
        <div class="reponse-div">{{inCritere}}</div>

        <div class="subtitle-div">$nin : pour récuperer tous les documents sauf ceux parmi le tableau des valeurs</div>
        <div class="reponse-div">{{ninCritere}}</div>

        <div class="subtitle-div">$all : pour cumuler des critères correspondant au tableau des valeurs.</div>
        <div class="reponse-div">{{all}}</div>
        <div class="alert-div margin-top">
          Cet operand resssemble à l'operand $and mais avec les mêmes critères, par exemple:
        </div>
        <div class="reponse-div">
          {{allSimilar}}
        </div>
        <div class="subtitle-div">$size : pour retourner les records dont la liste correspond à une size donnée</div>
        <div class="reponse-div">{{size}}</div>

        <div class="margin-top title-bigger-div">Opérandes de "Update"</div>
        <div class="margin-top title-bigger-div">Element</div>
        <div class="subtitle-div">$min : pour mettre à jour la valeur du champ avec la valeur spécifiée si celle-ci est
          inférieure à la valeur actuelle du champ.
        </div>
        <div class="reponse-div">{{min}}</div>

        <div class="subtitle-div">$max : pour mettre à jour la valeur du champ avec la valeur spécifiée si celle-ci est
          supérieure à la valeur actuelle du champ.
        </div>
        <div class="reponse-div">{{max}}</div>

        <div class="subtitle-div">$set : pour remplacer la valeur d'un champ par la valeur spécifiée.
        </div>
        <div class="reponse-div">{{set}}</div>

        <div class="subtitle-div">$unset : pour supprimer un champ particulier.
        </div>
        <div class="reponse-div">{{unset}}</div>

        <div class="margin-top title-bigger-div">Array</div>

        <div class="subtitle-div">$pop : pour supprimer le premier ou le dernier élément d'un tableau. Passez $ pop une
          valeur de -1 pour supprimer le premier élément d'un tableau et 1 pour supprimer le dernier élément d'un
          tableau.
        </div>
        <div class="reponse-div">{{pop}}</div>

        <div class="subtitle-div">$pull : pour supprimer d'un tableau existant toutes les occurrences d'une valeur ou de
          valeurs correspondant à une condition spécifiée.
        </div>
        <div class="reponse-div">{{pull}}</div>

        <div class="subtitle-div">$push : pour ajouter une valeur spécifiée à un tableau.
        </div>
        <div class="reponse-div">{{push}}</div>

        <div class="subtitle-div">$addToSet : pour ajouter une valeur à un tableau sauf si la valeur est déjà présente,
          auquel cas $ addToSet ne fait rien pour ce tableau.
        </div>
        <div class="reponse-div">{{addToSet}}</div>

        <div class="margin-top title-bigger-div">Modificateurs</div>

        <div class="subtitle-div">$each : Le modificateur $ each est disponible pour une utilisation avec l'opérateur $
          addToSet et l'opérateur $ push.
        </div>
        <div class="reponse-div">{{each}}</div>
      </div>
    </ng-container>
    <ng-container *ngIf="route=='tutorial6'">
      <div class="section-title">Les Aggregations de MongoDB</div>
      <div class="content-text">
        Et si maintenant, nous regardions des opérations plus complexes pour bien manipuler nos données ? Pour cela, la
        fonction "aggregate ()" permet de spécifier des chaînes d’opérations, appelées pipeline d’agrégation.
        <div class="margin-top exemple-div">
          {{aggExemple1}}
        </div>
        <div class="margin-top">
          Dans la commande UNIX, le pipeline shell signifie la possibilité d’exécuter une opération sur une entrée et
          d’utiliser la sortie comme entrée de la commande suivante, etc. MongoDB prend également en charge le même
          concept dans le cadre d'agrégation. Il existe un ensemble d'étapes possibles. Chacune de ces étapes est
          considérée comme un ensemble de documents en entrée et produit un ensemble de documents résultant (ou le
          document JSON final résultant à la fin du pipeline). Cela peut ensuite être utilisé pour la prochaine étape et
          ainsi de suite.
        </div>
        <div class="example-image-div margin-top"><img src="assets/images/mongo-images/aggregations.PNG"></div>
        <div class="margin-top">
          Cette fonction aggregate prend une liste d’opérateurs en paramètre. Il existe plusieurs types d’opérateurs de
          manipulation de données. Nous allons nous concentrer par la suite sur les principaux :
        </div>
        <div class="subtitle-div">{{matchExemple}}</div>
        <div class="margin-top">
          C’est le plus simple, il correspond au premier paramètre de la requête find que nous avons fait jusqu’ici. Il
          permet donc de filtrer le contenu d’une collection.
        </div>
        <div class="exemple-div margin-top">
          {{matchExemple1}}
        </div>
        <div class="subtitle-div">{{projectExemple}}</div>
        <div class="margin-top">
          C’est le second paramètre du find. Il donne le format de sortie des documents (projection). Il peut par
          ailleurs être utilisé pour changer le format d’origine.
        </div>
        <div class="exemple-div margin-top">
          {{projectExemple2}}
        </div>
        <div class="subtitle-div">{{sortExemple}}</div>
        <div class="margin-top">
          Trier le résultat final sur les valeurs d’une clé choisi.
        </div>
        <div class="exemple-div margin-top">
          {{sortExemple3}}
        </div>
        <div class="subtitle-div">{{groupExemple1}}</div>
        <div class="margin-top">
          C’est l’opération d’agrégation. Il va permettre de grouper les documents par valeur, et appliquer des
          fonctions d’agrégat. La sortie est une nouvelle collection avec les résultats de l’agrégation. (comme un group
          by SQL)
        </div>
        <div class="exemple-div margin-top">
          {{groupExemple2}}
        </div>
        <div class="margin-top">
          Cette aggregation permet de donner la somme des prix de chaque reference de produit dans la table des
          produits. Pour utiliser $group
          on doit mettre dans _id l'attribut avec lequel on group les élements et le critère selon lequel on obtient les
          resultats.
        </div>
        <div class="margin-top">
          On Obtient alors le resultat ci dessous:
        </div>
        <div class="exemple-div margin-top">
          {{groupExemple3}}
        </div>
        <div class="subtitle-div">{{unwindExemple}}</div>
        <div class="margin-top">
          $sort permet de trier les resultats par ordre croissant ou decroissant
        </div>
        <div class="margin-top">
          $unwind prend une liste de valeur et produit pour chaque élément de la liste un nouveau document en
          sortie avec cet élément. Il pourrait correspondre à une jointure, à ceci près que celle-ci ne filtre pas les
          données d’origine, juste un complément qui est imbriqué dans le document. On pourrait le comparer à une
          jointure externe avec imbrication et listes.
        </div>
        <div class="margin-top">
          Par exemple, considerons maintenant une table des étudiants contenant chacun une liste de matières (chaque
          matière a une note).Maintenant,
          trouvons le score moyen des etudiants par nom, et trions par score décroissant. Pour cela, nous
          groupons les valeurs par nom d'etudiant ($nom), nous utilisons la fonction d’agrégat "$avg" pour la moyenne
          (average), puis nous trions sur la nouvelle clé produite "$moyenne".
        </div>
        <div class="margin-top">
          Un problème se pose comment calculer la moyenne sur une "matière.note" qui est une liste ? Il faudrait au
          préalable retirer chaque élément de la liste, puis faire la moyenne sur l’ensemble des valeurs. C’est
          l’opérateur $unwind qui s’en charge, il suffit de lui donner la clé contenant la liste à désimbriquer.
        </div>
        <div class="exemple-div margin-top">{{unwindExemple2}}
        </div>
        <div class="subtitle-div">{{limitExemple}}</div>
        <div class="margin-top">
          Cet opérand permet de limiter les resultats retournés
        </div>
        <div class="margin-top exemple-div">
          {{limitExemple2}}
        </div>
        <div class="subtitle-div">{{skip}}</div>
        <div class="margin-top">
          Cet opérand permet de sauter un certains nombre de records avant de retourner les autres
        </div>
        <div class="margin-top exemple-div">
          {{skip2}}
        </div>

        <div class="subtitle-div">{{lookup}}</div>
        <div class="margin-top">
          Cet aggregation correspond à la jointure dans SQL. Pour effectuer une correspondance d'égalité entre un champ
          des documents d'entrée et un champ des documents de
          la collection «jointe», l'étape $ lookup a la syntaxe suivante:
        </div>
        <div class="margin-top reponse-div">
          {{lookupExemple}}
        </div>
        <div class="margin-top exemple-div">
          {{lookupExempleInsert1}}
        </div>
        <div class="margin-top exemple-div">
          {{lookupExempleInsert2}}
        </div>
        <div class="margin-top exemple-div">
          {{lookupExemple2}}
        </div>
        <div class="margin-top exemple-div">
          {{lookupExemple3}}
        </div>

        <div class="margin-top title-bigger-div">Les expressions d'aggregations</div>
        <div class="subtitle-div">$sum</div>
        <div class="margin-top">
          Résume la valeur définie de tous les documents de la collection.
        </div>
        <div class="exemple-div margin-top">
          {{sumExemple}}
        </div>

        <div class="subtitle-div">$avg</div>
        <div class="margin-top">
          Calcule la moyenne de toutes les valeurs données de tous les documents de la collection.
        </div>
        <div class="exemple-div margin-top">
          {{avgExemple}}
        </div>

        <div class="subtitle-div">$min</div>
        <div class="margin-top">
          Obtient le minimum des valeurs correspondantes de tous les documents de la collection.
        </div>
        <div class="exemple-div margin-top">
          {{minExemple}}
        </div>

        <div class="subtitle-div">$max</div>
        <div class="margin-top">
          Obtient le maximum des valeurs correspondantes de tous les documents de la collection.
        </div>
        <div class="exemple-div margin-top">
          {{maxExemple}}
        </div>

        <div class="subtitle-div">$push</div>
        <div class="margin-top">
          Insère la valeur dans un tableau du document résultant.
        </div>
        <div class="exemple-div margin-top">
          {{pushExemple}}
        </div>

        <div class="subtitle-div">$addToSet</div>
        <div class="margin-top">
          Insère la valeur dans un tableau du document résultant, mais ne crée pas de doublons.
          <div class="exemple-div margin-top">
            {{addToSetExemple}}
          </div>
        </div>

        <div class="margin-top title-bigger-div">
          Enfin, Ces tableaux représente la difference entre SQL et les aggregations dans MongoDB
        </div>
        <div class="example-image-div margin-top"><img src="assets/images/mongo-images/sql.PNG"></div>

        <div class="example-image-div margin-top"><img src="assets/images/mongo-images/sql1.PNG"></div>
        <div class="example-image-div margin-top"><img src="assets/images/mongo-images/sql3.PNG"></div>
        <div class="example-image-div margin-top"><img src="assets/images/mongo-images/sql4.PNG"></div>
        <div class="example-image-div margin-top"><img src="assets/images/mongo-images/sql5.PNG"></div>
        <div class="example-image-div margin-top"><img src="assets/images/mongo-images/sql6.PNG"></div>
        <div class="example-image-div margin-top"><img src="assets/images/mongo-images/sql7.PNG"></div>
        <div class="example-image-div margin-top"><img src="assets/images/mongo-images/sql8.PNG"></div>
        <div class="example-image-div margin-top"><img src="assets/images/mongo-images/sql9.PNG"></div>
      </div>
    </ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>
