<div class="global_background">
<div class="mongo-logo">
  <img src="../../assets/images/mongo-images/mongo-logo.png">
</div>

<div class="carousel-wrapper">
  <owl-carousel #headerCarousel [options]="options" [carouselClasses]="['owl-theme', 'sliding']">
    <div class="application-box">
      <div style="display: inline-flex">
        <div class="background_image_one"></div>
      </div>
      <div class="title-wrapper">{{landingLanguage['carousel_one_first_title']}}<strong>{{landingLanguage['carousel_one_second_title']}}</strong></div>
      <div class="description-wrapper">{{landingLanguage['carousel_one_description']}}</div>
    </div>

    <div class="application-box">
      <div style="display: inline-flex">
        <div class="background_image_two"></div>
      </div>
      <div class="title-wrapper">{{landingLanguage['carousel_two_first_title']}}<strong>{{landingLanguage['carousel_two_second_title']}}</strong></div>
      <div class="description-wrapper">{{landingLanguage['carousel_two_description']}}</div>
    </div>

    <div class="application-box">
      <<div style="display: inline-flex">
      <div class="background_image_three"></div>
    </div>
      <div class="title-wrapper">{{landingLanguage['carousel_three_first_title']}}<strong>{{landingLanguage['carousel_three_second_title']}}</strong></div>
      <div class="description-wrapper">{{landingLanguage['carousel_three_description']}}</div>
    </div>
  </owl-carousel>
  <div class="button-wrapper">
    <div class="primary-button" (click)="routing('/tutorial')"><span>{{landingLanguage['tutorial_btn']}}</span></div>
  </div>
</div>
</div>

