@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/notyf/dist/notyf.min.css";
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
/*FONTS*/

@font-face {
  font-family: 'Asap';
  src: url('assets/fonts/Asap-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Asap-Light';
  src: url('assets/fonts/Asap-Regular.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Asap-Bold';
  src: url('assets/fonts/Asap-Bold.otf');
  font-weight: 400;
  font-style: normal;
}

body{
  font-family: 'Asap';
  margin: 0px !important;
}

body::-webkit-scrollbar-track,
div::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar,
div::-webkit-scrollbar,
textarea::-webkit-scrollbar-thumb{
  width: 8px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb{
  border-radius: 9px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #A9A9A9;
}

textarea{
  resize: none!important;
}

.secondary-button {
  background-color: #499b45;
  border-radius: 40px;
  color: #499b45;
  display: block;
  height: 38px;
  margin: 0 auto;
  padding: 4px;
  position: relative;
  width: 250px;
  cursor: pointer;
}

.primary-button {
  background-color: #499b45;
  border-radius: 40px;
  color: white;
  display: block;
  height: 38px;
  margin: 0 auto;
  padding: 7px;
  position: relative;
  width: 250px;
  cursor: pointer;
}

.primary-button.disabled-true,
.secondary-button.disabled-true {
  background-image: linear-gradient(to right, rgb(172, 172, 172) 0%, rgb(121, 121, 121) 100%) !important;
  pointer-events: none;
}

.primary-button.disabled-true span{
  opacity: 0.7;
}

.secondary-button.disabled-true span{
  color: grey;
}

.secondary-button span {
  align-items: center;
  background: white;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  height: 34px;
  margin-top: -2px;
  width: 246px;
  margin-left: -2px;
  font-size: 15px;
}

.primary-button span {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.owl-carousel.owl-drag .owl-item{
  //width: 50% !important;
}
.owl-theme .owl-dots .owl-dot.active span{
  background: #499b45 !important;
}

.owl-theme .owl-dots .owl-dot span{
  background: #ffffff !important;
  width: 7px !important;
  height: 7px !important;
}

.images-carousel-wrapper, .add-posts-carousel-wrapper{
  position: relative;
  .owl-carousel .owl-nav button.owl-prev:hover ,
  .owl-carousel .owl-nav button.owl-next:hover{
    background-color: transparent;
    outline: none!important;
  }
  .owl-carousel .owl-nav button.owl-prev{
    font-size: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -20px;
    color: white;
  }
  .owl-carousel .owl-nav button.owl-next{
    font-size: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    color: white;
  }
}
.mat-drawer-container{
  background-color: #ffffff;
}
